Options -MultiViews
RewriteEngine On
Options -Indexes

RewriteBase /tpr/public

# Handle Front Controller
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

# Redirect Trailing Slashes
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
