<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title>Main page</title>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">
          <img src="img/egamatic-logo.png" height="50" alt="" title="">
        </div>

        <nav>
          <li><a href="user.php">Users</a></li>
          <li><a href="pictures.php">Pictures</a></li>



        </nav>
        </div>
    </header>

    <div class="container">
        <div class="content">
